.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.img-container {
    width: 200px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrong-letters {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 34px;
}

.wrong-letters > * {
    margin: 5px;
    color: red;
    text-transform: uppercase;
}

.end-game-div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
